body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f5f5f5;
}

header {
  text-align: center;
  background: #222;
  color: white;
  padding: 30px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}